.has-error input{
    border-color: red;
}
.has-error .help-block{
    text-align: center;
    color: red;
    padding: 5px 0;
}
.pagination li.active>a{
    background: #0f6fec;
    color: white;
}
.pagination .disabled{
    display: none;
}
.hidden-comment{
    display: none;
}